# sql_challenge

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
import psycopg2

In [2]:
#Create engine
from sqlalchemy import create_engine
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/SQL-Challenge')
connection = engine.connect()

In [3]:
# Use the Inspector to explore the database and print the table names
inspector = inspect(engine)
inspector.get_table_names()

['dept_emp', 'dept_manager', 'titles', 'departments', 'employees', 'salaries']

In [5]:
#result = connection.execute('SELECT salaries.salary, titles.title FROM salaries JOIN titles ON salaries.emp_no = titles.emp_no GROUP BY ')

In [ ]:
#print(result)

In [6]:
#Declare a base using 'automap_base()'
Base = automap_base()

In [7]:
#use Base class to reflect database tables
Base.prepare(engine, reflect=True)

In [8]:
#print classes mapped to the Base.
Base.classes.keys()

['departments', 'employees', 'titles', 'salaries']

In [9]:
#Assign variables to the needed classes
Employees=Base.classes.employees
Titles = Base.classes.titles
Salaries = Base.classes.salaries

In [10]:
#Create a session.
session = Session(engine)

In [12]:
# result = connection.execute('SELECT salaries.salary, titles.title FROM salaries JOIN titles ON salaries.emp_no = titles.emp_no GROUP BY titles.title')

In [ ]:
# #Query for needed data
# results = session.query(Employees.emp_no, Titles.title, Salaries.salary).limit(100000).all()
# print(results)

In [13]:
first_row_e = session.query(Employees).first()
first_row_e.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x284227f5898>,
 'emp_title_id': 's0001',
 'hire_date': datetime.date(1990, 4, 28),
 'last_name': 'Zallocco',
 'birth_date': datetime.date(1953, 7, 25),
 'emp_no': 473302,
 'sex': 'M',
 'first_name': 'Hideyuki'}

In [ ]:
# #create lists
# sal_values = []
# titles = []

In [ ]:
#Display needed Data.
for row in session.query(Employees.emp_no, Titles.title, Salaries.salary).limit(40000).all():
    sal_values.append (Salaries.salary)
    titles.append (Titles.title)
    print(row)

# Pandas/csv starts here

In [ ]:
# Study data files
salaries_path = "salaries.csv"
titles_path = "titles.csv"
employees_path = "employees.csv"

In [ ]:
# Read the salaries and the titles data
salary_df = pd.read_csv(salaries_path)
titles_df = pd.read_csv(titles_path)
employees_df = pd.read_csv(employees_path)

In [ ]:
#Rename column
employees_renamed_df = employees_df.rename(columns={"emp_title_id": "title_id"})

In [ ]:
#Merge files
complete_data=pd.merge(employees_renamed_df, titles_df, how='outer', on='title_id')
final_df = pd.merge(complete_data, salary_df, how= 'outer', on='emp_no')

In [ ]:
final_df.head()

In [ ]:
#From https://datatofish.com/plot-histogram-python/
sal_count=final_df['salary'].count()
sal_min=final_df['salary'].min()
sal_max=final_df['salary'].max()
print(f'Count; {sal_count}')
print(f'Min salary: {sal_min}')
print(f'Max salary: {sal_max}')
print(f'Number of bins: {round(sal_count**.5,2)}')
#Too many bins!!

# Create Graphs

In [ ]:
sal_values = session.query(Salaries.salary)
print(sal_values)

In [ ]:
#Histogram

#x = sal_values
x = final_df['salary']
plt.figure(figsize= (12,10))
plt.hist(x, bins=7) #number of bins = number of titles
plt.title('Company Salaries')
plt.xlabel('Salary')
plt.ylabel('Number of Employees')
plt.show()

In [ ]:
#Calculate average salary by title
final_grouped_df=final_df.groupby(['title'])
avg_salary_title=final_grouped_df['salary'].mean()

In [ ]:
#Bar Chart
dnames= titles_df['title']

x_axis=range(len(dnames))
#y_axis=avg_salary_title
tick_locations=[value for value in x_axis]
plt.figure(figsize= (12,10))
plt.rcParams['font.size']='16'
plt.bar(x_axis, avg_salary_title, color='b', alpha=1.0, align="center")
plt.xticks(tick_locations, dnames, rotation="vertical")

plt.ylim(0, max(avg_salary_title)+10000)
plt.title('Salaries by Title')
plt.xlabel('Title')
plt.ylabel('Average Salary')